*,
*:before,
*:after {
  box-sizing: border-box; /* includes the box border and margin in the overall box size */
}
html, body {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}
/* using css variables to make grid */
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
h1{
    margin: 12px 0px 12px 0px;
    font-size: 6em;
}
/* .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

} */

.opt-buttons{
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#container{
    width: 500px;
    height: 500px;
    display: grid;
    margin: auto;
    /* background-color; */
    border: 10px solid black;
    /* grid-gap: .25em; */
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);  
}
.grid-item {
    border: 1px solid grey;
    margin:0;
    text-align: center;
    aspect-ratio: 1;
}
/* .grid-item:hover{
    background-color: black;
} */

/* center the grid and making it a square */
 

/* styling buttons */
button{
    width: 5em;
    padding: 1em;
    border-radius: 12px;
    border: 2px solid #c0c0c0;
}